:root{
    --azul: #0f637a;
    --laranja: #f6b664;
}

header{
    margin-bottom: 80px;
}

body{
    background: rgb(222, 172, 106);
    background: linear-gradient(180deg, rgb(222, 172, 106) 22%, rgba(252,254,255,1) 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 50px;
    border-radius: 15px;
    padding: 10px;
}

#main-header{
    height: 40px;
}

#todo{
    width: 100%;
    text-align: center;
    border: 2px solid var(--laranja);
}

.form-control:focus{
    box-shadow: none;
}

#app-logo{
    width: 150px;
    height: 150px;
}

#add-todo{
    font-size: 0;
    background-color: var(--laranja);
}

#todos-list .card{
    background-color: var(--laranja);
    height: 35px;
    justify-content: center;
    border-radius: 30px;
}


#todos-list .card + .card{
    margin-top: 10px;
}

.todo-text{
    margin: 0;
    font-size: 14px;
}

.delete-todo{
    font-size: 0;
}

#containerCheckBox {
    display: flex;
    justify-content: center;
    font-size: 13px;
}

.form-check{
    margin: 0;
    padding: 0 15px;
}

.form-check-input[id="inputVermelho"]:checked{
   border: 1px solid red;
   background-color: red;
   box-shadow: none;
}

.form-check-input[id="inputAmarelo"]:checked{
    border: 1px solid rgb(228, 203, 11);
    background-color: rgb(228, 203, 11);
    box-shadow: none;
 }
 
 .form-check-input[id="inputVerde"]:checked{
    border: 1px solid rgb(24, 165, 32);
    background-color: rgb(24, 165, 32);
    box-shadow: none;
 }

 @media screen and (max-width: 600px) {
    .container{
        width: 90%;
    }
 }

