:root{
    --azul: #0f637a;
    --amarelo: #ffd900;
}

body{
    background-color: var(--azul);
}

main{
    min-height: 100vh;
}

#main-header{
    height: 40px;
}

#app-logo{
    width: 180px;
}

#add-todo{
    font-size: 0;
    background-color: var(--amarelo);
}

#todos-list .card{
    background-color: var(--amarelo);
}

#todos-list .card + .card{
    margin-top: 10px;
}

.todo-text{
    margin: 0;
}

.delete-todo{
    font-size: 0;
}

#containerCheckBox {
    display: flex;
    justify-content: center;
}

.importante{
    color: red;
    margin: 0 10px;

}

.medio {
    color: yellow;
    margin: 0 10px;
}

.facil {
    color: green;
    margin: 0 10px;
   
}

.iconeAmarelo {
    color: yellow;
    background-color: yellow;
    border-radius: 50px;
}

.iconeVerde {
    color: green;
    background-color: green;
    border-radius: 50px;
}

.iconeVermelho {
    color: rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    border-radius: 50px;
}