:root{
    --azul: #0f637a;
    --laranja: #f6b664;
}

header{
    margin-bottom: 80px;
}

body{
    background: rgb(246,182,100);
    background: linear-gradient(180deg, rgba(246,182,100,1) 22%, rgba(252,254,255,1) 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 90%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 50px;
    border-radius: 15px;
    padding: 10px;
    
}

#main-header{
    height: 40px;
}

#todo{
    width: 100%;
    text-align: center;
    border: 2px solid var(--laranja);
}

.form-control:focus{
    box-shadow: none;
}

#app-logo{
    width: 150px;
    height: 150px;
}

#add-todo{
    font-size: 0;
    background-color: var(--laranja);
}

#todos-list .card{
    background-color: var(--laranja);
    height: 35px;
    justify-content: center;
    border-radius: 30px;
}


#todos-list .card + .card{
    margin-top: 10px;
}

.todo-text{
    margin: 0;
    font-size: 14px;
}

.delete-todo{
    font-size: 0;
}

#containerCheckBox {
    display: flex;
    justify-content: center;
    font-size: 13px;
}

.form-check{
    margin: 0;
    padding: 5px;
}

.iconeAmarelo {
    color: yellow;
    background-color: yellow;
    border-radius: 20px;
}

.iconeVerde {
    color: green;
    background-color: green;
    border-radius: 20px;
}

.iconeVermelho {
    color: rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
}